html, body {
	height: 100%;
}
.fill { 
	min-height: 100%;
}

body {
 font: 300 20px "Helvetica Neue";
 height: 640px;
 margin: 10px 10px 10px 10px;
 overflow: hidden;
 position: relative;
 background-color:#000;
 background-image: url("../static/banner.png");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center bottom;
 background-size: 100% auto;
}

img.logo{
 margin: 0 0 0 0;
 height: 40px;
 float: right;
}
nav.navbar.navbar-inverse {
 border-radius: 0px; 
 height:1px;
 background-color:#000;
}

a:link, a:visited {
 color: #777;
 text-decoration: none;
}

a:hover {
 color: #666;
}

blockquote {
 margin: 0;
}

blockquote:before {
 content: "“";
 position: absolute;
 left: -.4em;
}

blockquote:after {
 content: "”";
 position: absolute;
}

body > ul {
 margin: 0;
 padding: 0;
}

h1 {
 font-size: 64px;
}

h1, h2, h3 {
 font-weight: inherit;
 margin: 0;
}

h2, h3 {
 text-align: right;
 font-size: inherit;
 position: absolute;
 bottom: 0;
 right: 0;
}

h2 {
 font-size: 24px;
 position: absolute;
}

h3 {
 bottom: -20px;
 font-size: 18px;
}

.invert {
 background: #1f1f1f;
 color: #dcdccc;
}

.invert h2, .invert h3 {
 color: #7f9f7f;
}

.string, .regexp {
 color: #f39;
}

.keyword {
 color: #00c;
}

.comment {
 color: #777;
 font-style: oblique;
}

.number {
 color: #369;
}

.class, .special {
 color: #1181B8;
}

body > svg {
 position: absolute;

}

circle.node {
 stroke: #9ecae1;
 stroke-width: 0.5px;
}

line.link {
 fill: #fff;
 stroke: #9ecae1;
 stroke-width: 0.5px;
}

#panel-body {
 font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
 font-size: 12px;
}

#post-title {
 font-size:20px; 
 color:white; 
 font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

#copyright {
 font-size:15px; 
 color:white; 
 font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
